<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <table class ="job-listing">
    <tr th:each="job: ${jobs}">
        <td>ID: <span th:text="${job.id}"></span><br>
            <br>Name: <span th:text="${job.name}"></span><br>
            <br>Employer: <span th:text="${job.employer}"></span><br>
            <br>Location: <span th:text="${job.location}"></span><br>
            <br>Position Type: <span th:text="${job.positionType}"></span><br>
            <br>Core Competency: <span th:text="${job.coreCompetency}"></span><br><br>
        </td>
    </tr>
    </table>

</div>

</body>
</html>